<div class="table">
    <div class="tableRow">
        <div class="tableCell box">
            <canvas id="panel" width="380" height="380"></canvas>
            <p>
                <input type="button" id="cropBttn" value="Crop">
            </p>
        </div>
        <div class="tableCell box">
            <!-- <img src="" id="croppedImage"> -->
            <img src="" id="croppedImageTop" style="margin-bottom: 200px">
            <img src="" id="croppedImageBottom">
        </div>
    </div>
</div>