<mat-card class="card-container mat-elevation-z24">
    <div class="black">{{ uploadPercent | async | number: '1.0-0' }}</div>

    <div *ngIf="currentUser else noPhoto">
        <img *ngIf="!downloadUrl" [src]="currentUser.photoUrl" alt="profile-pic" class="rounded-circle mx-auto d-block profile-pic">
        <img *ngIf="downloadUrl && downloadUrl.length > 0" [src]="downloadUrl" alt="profile-pic" class="rounded-circle mx-auto d-block profile-pic">
    </div>

    <mat-form-field *ngIf="currentUser">
        <input matInput value="{{ fileName }}" class="black" placeholder="Image...">
        <input #fileInput type="file" (change)="uploadFile(fileInput)" style="display:none;" />
        <button mat-icon-button color="primary" matSuffix (click)="fileInput.click()">
            <mat-icon>add</mat-icon>
        </button>
    </mat-form-field>

    <mat-form-field *ngIf="currentUser">
        <input matInput type="text" [(ngModel)]="currentUser.firstName" placeholder="First Name">
    </mat-form-field>

    <mat-form-field *ngIf="currentUser">
        <input matInput type="text" [(ngModel)]="currentUser.lastName" placeholder="Last Name">
    </mat-form-field>

    <mat-form-field *ngIf="currentUser">
        <input matInput type="text" [(ngModel)]="currentUser.quote" placeholder="Quote">
    </mat-form-field>

    <mat-form-field *ngIf="currentUser">
        <textarea matInput rows="5" [(ngModel)]="currentUser.bio" placeholder="Bio"></textarea>
    </mat-form-field>

    <button mat-raised-button color="primary" (click)="save()" *ngIf="currentUser">Save Profile</button>
    
    <ng-template #noPhoto>
        <div class="no-photo">No Photo</div>
    </ng-template>
</mat-card>
