/* You can add global styles to this file, and also import other style files */
@import 'styles/variables';

body { 
    margin: 0; 
    color: $secondary;
}

.container-wrapper {
    height: calc(100vh - 80px) !important;
}

.navbar {
    height: 80px;
}

button {
    width: 100%;
    &.btn {
        border-radius: 0;
        &:focus {
            box-shadow: none;
        }
    }
}

.card-container {
	max-width: 352px;
	margin: 0 auto;
	margin-top: 50px;
	margin-bottom: 50px;
}

.mat-card {
	border-radius: 6px !important;
	// background: #261b1a;
	color: rgba(255, 255, 255, 0.5);
}

.black {
	color: rgba(0, 0, 0, 0.5) !important;
}

.white {
	color: rgba(255, 255, 255, 0.5) !important;
}
